<!doctype html>

<html lang="en" ng-app="ng-Flickr">
<head>
  <meta charset="utf-8">

    <title>ng-Flickr</title>
      <meta name="description" content="Angular Flickr App">
        <meta name="author" content="Chuck McQuilkin">

          <link rel="stylesheet" href="styles.css">

            <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
              <![endif]-->
            </head>

            <body>
              <div>
                <h1>ng-Flickr</h1>
                <p>Search Flickr!</p>
              </div>
              <div ng-controller="SearchController">
                <form ng-submit="searchFlickr(keyWord)">
                  <input type="text" name="keyWord" ng-model="keyWord" required="" />
                  <input type="submit" value="Submit" id="submit" />
                </form>
                <div ng-repeat="photo in photos">
<!--                 <div class="data" ng-if="photos">
                  <h2>We found {{ data.length }} results for {{ searchKeyword }}.</h2>
                  <div ng-repeat="photo in photos">
                  </div> -->
                </div>
              </div>
              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
              <script src="scripts.js"></script>
            </body>
</html>
